* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 1px;
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  padding: 1rem;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  padding: .6rem;

}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Nosifer', cursive;
  border-right: 3px solid red;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

header {
  position: relative;
  background: linear-gradient(transparent, transparent 70%), linear-gradient(0deg, #000, transparent),
  #1078cf url('../images/main.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.main-header {
  /* center the content */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1rem;
  background: -webkit-linear-gradient(#FF1800, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInText 3s;
}

.title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: 'Nosifer', cursive;
}

.nav-bar ul {
  margin: 0 auto;
  width: 50%;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.red-arrow {
  width: 25px;
  animation: bounce 3s infinite;
  opacity: .75;
}

.image {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image img {
  filter: grayscale(100%);
  transition: filter .4s ease;
}

.image:hover img {
  filter: grayscale(0);
}

.image:hover .over-text {
  animation: fadeInDown 3s ease;
  opacity: 1;
}

.over-text {
  opacity: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.6);
  padding: .75rem;
  height: 50%;
}

.over-text h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

@keyframes fadeInText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
