* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  padding: .6rem;

}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0;
}

.over-text {
  display: none;
}

header {
  position: relative;
  background: linear-gradient(transparent, transparent 70%), linear-gradient(0deg, #000, transparent),
  #1078cf url('../images/main.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;

}

.main {
  /* center the content */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 2rem;
  background: -webkit-linear-gradient(#FF1800, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInText 3s;
}

.title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: 'Nosifer', cursive;

}

.nav-bar ul {
  margin: 0 auto;
  width: 50%;
}

.arrow {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.red-arrow {
  width: 40px;
  animation: bounce 3s infinite;
}

/*.nav-bar ul li:nth-child(odd):hover {
  background-color: orange;
  transform: skewY(7deg);
}

.nav-bar ul li:nth-child(even):hover {
  background-color: rgba(222, 40, 31, 0.1);
  color: white;
  transform: skewY(-7deg);
}
*/

.hidden {
  display: none;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
